<h1 #header>My ViewChild Demo</h1>
<app-system-message></app-system-message>
<app-system-message #firstMessage></app-system-message>
<app-system-message #secondMessage></app-system-message>

<app-system-message message="First message"></app-system-message>
<app-system-message message="Second message"></app-system-message>
<app-system-message message="Third message"></app-system-message>

<button (click)="toggleMessage()">Toggle message</button>
