<div class="list-group menu">
	<ul>
		<li *ngFor="let a of artistas">
			<div class="list-group-item list-group-item-action enlacePointer" (click)="seleccionar(a)">{{a.name}}</div>
		</li>
	</ul>
</div>