#contenedor {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;	
	justify-content: center;
	align-content: center;	
	align-items: flex-start;
}

.item-1 {
	//background: green;
}

.item-2 {
	background: orange;
}