<div class="text-center">
	<h2>LISTA DE CANCIONES</h2>
</div>
<div id="contenedor">
  <div class="item item-1">
  	<app-lista-artistas [artistas]="la" (artista)="editArtista($event)"></app-lista-artistas>
  </div>
  <div class="item item-2">
  	<app-detalle-artista [editArtista]="artista"></app-detalle-artista>
  </div>
</div>
