<form class="container" #userForm="ngForm" (ngSubmit)="enviarData(userForm.value)">
	<input type="text" name="firstname" placeholder="nombre" ngModel /> <br />
	<input type="text" name="lastname" placeholder="apellido" ngModel /> <br />
	<select name="lanuage" ngModel>
		<option value="java">Java</option>
		<option value="javaScript">Java Script</option>
		<option value="php">Php</option>
	</select> <br />
	<input type="submit" value="enviar">
</form>