<div class="card card-block mx-auto p-3" style="width: 20rem;">
	<h4 class="card-title">Create Card</h4>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter the setup"
			#setup>
	</div>
	<div class="form-group">
		<input type="text" class="form-control"
			placeholder="Enter the punchline" #punchline>
	</div>
	<button type="button" class="btn btn-primary"
		(click)="createCard(setup.value, punchline.value)">Create</button>
</div>