<h2>Curso</h2>

<p *ngIf="idCurso">
	<b>Detalle del curso ({{idCurso}}) :</b>
	<span *ngIf="tituloCurso"> {{tituloCurso}} </span>
	<span *ngIf="!tituloCurso">sin title </span>
</p>

<p *ngIf="!idCurso">CURSO VACIO</p>