 <b>Angular 2 Component Using Observables!</b>

 <h6 style="margin-bottom: 0">VALUES:</h6>
 <div *ngFor="let value of values">- {{ value }}</div>
 
 <h6 style="margin-bottom: 0">STATUS:</h6>
 <div>{{status}}</div>
 
 <h6 style="margin-bottom: 0">ERROR:</h6>
 <div>{{anyErrors}}</div>
 
 <button style="margin-top: 2rem;" (click)="initObservableSubscribe()">Observable Subscribe</button>
 <button style="margin-top: 2rem;" (click)="initObservableSuscripbeForEach()">Observable Subscribe Foreach</button>
 <button style="margin-top: 2rem;" (click)="initObservableError()">Observable Subscribe Error</button>
 <button style="margin-top: 2rem;" (click)="PersonObservable()">Observable Http antiguo</button>
 
 <div class="list-group menu">
	<ul>
		<li *ngFor="let d of doctors">
			<div class="list-group-item list-group-item-action">{{d.id}}. {{d.name}} - {{d.email}}</div>
		</li>
	</ul>
</div>
 
 
