<h3>Country Detail</h3>
<div *ngIf="country">
	<p>
		<b>Id:</b> {{country.countryId}}, <b>Name:</b> {{country.countryName}}
	</p>
	<p>
		<b>Capital:</b> {{country.capital}}<br> 
		<b>Currency:</b>{{country.currency}}
	</p>
</div>