<h3>Edit Person</h3>
<p *ngIf="person">
	<b>Person Id: {{person.personId }} </b>
</p>

<form class="container" [formGroup]="personForm" 
		(ngSubmit)="onFormSubmit()" novalidate >
	<p>
		Name: <input name="name" formControlName="name" />
	</p>
	<p>
		City: <input formControlName="city" />
	</p>
	<p>
		<button>Update</button>
	</p>
</form>
