<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="margin-20">
				<h4>Add customer</h4>
			</div>
			<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
				<div class="form-group">
					<label>Name</label> 
					<input type="text" class="form-control"	formControlName="name">
				</div>
				
				<div class="form-group">
					<label>Payment Method</label>
				</div>
				
				<div formGroupName="paymentMethod">

					<div class="row">
						<div class="col-xs-6">
							<button type="button" (click)="setPaymentMethodType(PAYMENT_METHOD_TYPE.BANK)"
								class="btn btn-block text-capitalize"
								[class.btn-default]="myForm.get('paymentMethod.tipo').value !== PAYMENT_METHOD_TYPE.BANK"
								[class.btn-primary]="myForm.get('paymentMethod.tipo').value === PAYMENT_METHOD_TYPE.BANK">
								{{ PAYMENT_METHOD_TYPE.BANK }}</button>
						</div>
						<div class="col-xs-6">
							<button type="button" (click)="setPaymentMethodType(PAYMENT_METHOD_TYPE.CARD)"
								class="btn btn-block text-capitalize"
								[class.btn-default]="myForm.get('paymentMethod.tipo').value !== PAYMENT_METHOD_TYPE.CARD"
								[class.btn-primary]="myForm.get('paymentMethod.tipo').value === PAYMENT_METHOD_TYPE.CARD">
								{{ PAYMENT_METHOD_TYPE.CARD }}</button>
						</div>
					</div>

					<div class="panel panel-default margin-20" *ngIf="myForm.get('paymentMethod.tipo').value === PAYMENT_METHOD_TYPE.BANK">
						<div class="panel-body">
							<div class="form-group col-xs-8" formGroupName="bank">
								<label>Account no.</label> 
								<input type="text" class="form-control" formControlName="accountNo"> 
								<small	*ngIf="!myForm.get('paymentMethod.bank.accountNo').valid" class="text-danger"> Required. </small>
							</div>
							<div class="form-group col-xs-4" formGroupName="bank">
								<label>Routing no.</label> 
								<input type="text" class="form-control" formControlName="routingNo"> 
								<small *ngIf="!myForm.get('paymentMethod.bank.routingNo').valid" class="text-danger"> Required. </small>
							</div>
							<div class="form-group col-xs-12" formGroupName="bank">
								<label>Account Holder</label> 
								<input type="text" class="form-control"	formControlName="accountHolder"> 
								<small	*ngIf="!myForm.get('paymentMethod.bank.accountHolder').valid" class="text-danger"> Required. </small>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default margin-20" *ngIf="myForm.get('paymentMethod.tipo').value === PAYMENT_METHOD_TYPE.CARD">
						<div class="panel-body">
							<div class="form-group col-xs-8" formGroupName="card">
								<label>Card no.</label> 
								<input type="text" class="form-control"	formControlName="cardNo"> 
								<small *ngIf="!myForm.get('paymentMethod.card.cardNo').valid" class="text-danger">
									 Required (Must be valid card number). 
								</small>
							</div>
							<div class="form-group col-xs-4" formGroupName="card">
								<label>Expiry</label> 
								<input type="text" formControlName="expiry" placeholder="MM/YY"	class="form-control"> 
								<small *ngIf="!myForm.get('paymentMethod.card.expiry').valid" class="text-danger">
								 	Required (Must be in format MM/YY). 
								 </small>
							</div>
							<div class="form-group col-xs-12" formGroupName="card">
								<label>Card Holder</label> 
								<input type="text" class="form-control"	formControlName="cardHolder"> 
								<small *ngIf="!myForm.get('paymentMethod.card.cardHolder').valid" class="text-danger"> Required. </small>
							</div>
						</div>
					</div>
				</div>

				<div class="margin-20">
					<button type="submit" class="btn btn-primary pull-right"
						[disabled]="!myForm.valid">Submit</button>
				</div>
				<div class="clearfix"></div>

				<div class="margin-20">
					<pre>Formulario valido: <br>{{myForm.valid | json}}</pre>
					<pre>Formulario valores: <br>{{myForm.value | json}}</pre>
				</div>
			</form>
		</div>
	</div>
</div>