<ul class="nav nav-pills justify-content-center">
  	<li class="nav-item">
    	<a class="nav-link" href="#" routerLink="/artistas" routerLinkActive="active">Artistas</a>
  	</li>
  	<li class="nav-item">
    	<a class="nav-link" href="#" routerLink="/product" routerLinkActive="active">Product</a>
  	</li>
  	<li class="nav-item">
   		<a class="nav-link" href="#" routerLink="/members" routerLinkActive="active">Members</a>
	</li>	
  	<li class="nav-item">
   		<a class="nav-link" href="#" routerLink="/members2" routerLinkActive="active">Members2</a>
	</li>	 
  	<li class="nav-item">
    	<a class="nav-link" href="#" routerLink="/usertemplate" routerLinkActive="active">User Template</a>
  	</li>
  	<li class="nav-item">
    	<a class="nav-link" href="#" routerLink="/customer" routerLinkActive="active">Customer</a>
  	</li>
  	<li class="nav-item">
  		<a class="nav-link" href="#" routerLink="/country" routerLinkActive="active">Country</a>
  	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" routerLink="/person" routerLinkActive="active">Person</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" routerLink="/observable" routerLinkActive="active">Observable</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#" routerLink="/viewChildren" routerLinkActive="active">viewChildren</a>
	</li>	
	
</ul>

<router-outlet></router-outlet>
<!-- <app-cards></app-cards> -->


