<div class="card-block">
	<h6 class="card-subtitle pt-2 text-muted">{{card.setup}}</h6>
	<p class="card-text pb-1" [hidden]="card.hide">{{card.punchline}}</p>
	<a class="btn btn-primary" (click)="card.toggle(card)">Tell Me</a>
</div>