<h3>Country List</h3>
<div *ngFor="let c of countries" [ngClass]= "'sub-child-menu'">
	<p>{{c.countryId}}. {{c.countryName}}
		<a [routerLink]="['view', c.countryId]" routerLinkActive="active">Detail</a> |
		<a [routerLink]="['edit', c.countryId]" routerLinkActive="active">Edit</a>
	</p>
</div>

<div [ngClass]= "'sub-child-container'">
	<router-outlet></router-outlet>  
</div> 
