<form class="container" [formGroup]="formMember"
	(ngSubmit)="enviarData(formMember.value)" novalidate>
	<input type="text" name="firstname" formControlName="firstname" />
	<div class="alert alert-danger" *ngIf="formMember.get('firstname').invalid && (formMember.get('firstname').dirty || formMember.get('firstname').touched)">
		<div [hidden]="!formMember.get('firstname').hasError('required')">
			Se requiere un valor
		</div>
		<div [hidden]="!formMember.get('firstname').hasError('minlength')">
			Minimo valor 5 caracteres
		</div>
		<div [hidden]="!formMember.get('firstname').hasError('maxlength')">
			Maximo valor 10 caracteres
		</div>
		<div [hidden]="!formMember.get('firstname').hasError('pattern')">
			Caracter no Valido
		</div>
	</div> 
	<br /> 
	<input type="text" name="lastname" placeholder="apellido" formControlName="lastname" />
	<div class="alert alert-danger" *ngIf="formMember.get('lastname').invalid && (formMember.get('lastname').dirty || formMember.get('lastname').touched)">
		<div [hidden]="!formMember.get('lastname').hasError('textValidation')">
			Se requiere mas de 3 caracteres
		</div>
		<div [hidden]="!formMember.get('lastname').hasError('exclamationValidation')">
			Se necesita simbolo de exclamacion
		</div>
		<div [hidden]="!formMember.get('lastname').hasError('caracterValidation')">
			Se necesita catacter @
		</div>
		
	</div> 
	<br />
	 <select name="lanuage" formControlName="language">
		<option value="java">Java</option>
		<option value="javaScript">Java Script</option>
		<option value="php">Php</option>
	</select> 
	<br /> 
	<input type="submit" [disabled]="!formMember.valid" value="enviar">
</form>

<p>{{errorMsg}}</p><br>

<input type="radio" name="colors" (click) = "color='lightgreen'">Green
<input type="radio" name="colors" (click) = "color='yellow'"> Amarillo
<input type="radio" name="colors" (click) = "color='white'"> Blanco

<p>My name is <strong>{{ name | capitalize }}</strong>.</p>

<p>MIENBRO: {{member | json }}</p><br>

 <table class="table">
     <tbody>
         <tr *ngFor="let m of members; let i = index">
             <th scope="row">{{i+1}}</th>
             <td>{{m.id}}</td>
             <td>{{m.name}}</td>
             <td>{{m.sueldo}}</td>
         </tr>
     </tbody>
 </table>
 
 <p [appColor] = "color" tcolor="red" tsize="30px">directiva 10</p>
 