<div (click)="redireccionar()" class="redireccionar">Memeber2</div>

<p>
	<button type="button" class="btn btn-primary" (click)="redirigir()">Redirigir al curso destacado</button>	
</p>
    
<h2>Listado de cursos solo con ID</h2>
<ul>
	<li *ngFor="let curso of cursos">
		<a [routerLink]="['detalleproduct', curso.id]">{{curso.titulo}}</a>
	</li>
</ul>
<h2>Listado de cursos solo con ID y TITULO</h2>
<ul>
	<li *ngFor="let curso of cursos">
		<a [routerLink]="['detalleproduct', curso.id, curso.titulo]">{{curso.titulo}}</a>
	</li>
</ul>

<div>
	<img [src]=" imageUrl | defaultimage:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg':true" />
</div>

<router-outlet></router-outlet>
