<h3>Person List</h3>
<div *ngFor="let p of persons" [ngClass]= "'sub-child-menu'">
		{{p.personId}}. {{p.name}}, {{p.city}}
    	<button type="button" (click)="goToEdit(p)">Edit</button>
</div>

<div [ngClass]= "'sub-child-container'">
	<router-outlet></router-outlet>  
</div> 
