<div class="card-deck" *ngIf="editArtista.name">
  <div class="card" >
    <img class="card-img-top rounded-circle mx-auto d-block" style="width: 100px; height: 120px;" src="{{editArtista.imagen}}" alt="Card image" >
    <div class="card-block">
      <h4 class="card-title">{{editArtista.name}}</h4>
      <p class="card-text">categoria: {{editArtista.categoria}}</p>
      <p class="card-text">id: {{editArtista.id}}</p>
    </div>
  </div>
</div>